# ───────────────────────────────────────────
# ░░░░ Bundler y Ruby
# ───────────────────────────────────────────
.bundle/
vendor/
Gemfile.lock
*.gem

# ───────────────────────────────────────────
# ░░░░ Jekyll y salida del sitio
# ───────────────────────────────────────────
.jekyll-cache/
.jekyll-metadata
_site/

# ───────────────────────────────────────────
# ░░░░ Node.js / NPM
# ───────────────────────────────────────────
node_modules/
package-lock.json

# ───────────────────────────────────────────
# ░░░░ Configuración de IDEs
# ───────────────────────────────────────────
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# ───────────────────────────────────────────
# ░░░░ Archivos generados y temporales
# ───────────────────────────────────────────
*.log
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db

# ───────────────────────────────────────────
# ░░░░ Archivos y carpetas específicas del sitio
# ───────────────────────────────────────────
_sass/dist/
assets/js/dist/
_posts/.plantilla_post.md
